<div class="container">

  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :post, :class => 'form-signin'}) do |f| %>
      <%= devise_error_messages! %>
      <h2 class="form-signin-heading">Redefinir Senha</h2>
      <%= f.email_field :email, options = { :class => 'input-block-level validate', :placeholder => 'Email'} %>
      <%= f.submit "Enviar link de redefinição", options = { :class => 'btn btn-large btn-primary'} %>
      <br/>
      <br/>
      <%= render "devise/shared/links" %>
  <% end %>

</div> <!-- /container -->