<div class="container">

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => 'form-signin'}) do |f| %>
      <%= devise_error_messages! %>
    <h2 class="form-signin-heading">Entrar</h2>
    <%= f.email_field :email, options = { :class => 'input-block-level validate', :placeholder => 'Email'} %>
      <%= f.password_field :password, options = { :class => 'input-block-level validate', :placeholder => 'Senha'} %>
    <label class="checkbox">
      <% if devise_mapping.rememberable? -%>
          <%= f.check_box :remember_me %>
          <%= f.label 'Lembre-se de mim' %>
      <% end -%>
    </label>
      <%= f.submit "Entrar", options = { :class => 'btn btn-large btn-primary'} %>
      <br/>
      <br/>
      <%= render "devise/shared/links" %>
  <% end %>

</div> <!-- /container -->