<!DOCTYPE html>
<html>
<head>
  <title>Xdeal</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="topo">
  <div class="principal">
    <img src="/assets/logo.jpg" />
    <div class="menu">
      <ul>
        <li>SOBRE O XDEAL</li>
        <li>ENTENDA A CONVERSÃO</li>
        <li>TERMOS DE USO</li>
        <li>CONTATO</li>
        <li>
          <% if user_signed_in? %>
              <%= link_to t(:ver_loja), "/company/edit/#{current_user.company.id}" %> /
              <%= link_to t(:sair), destroy_user_session_path, :method => :delete %>
          <% else %>
              <%= link_to t(:entrar), new_user_session_path %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>

<%= yield %>

</body>
</html>
